.creategame-forms {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 60vw;
  padding-top: 50px;
  margin: auto;
}
.creategame h1{
    margin: 0;
}

.creategame {
  position: relative;
  top: 75px;
  background-color: #d4d4d4;
  background-size: cover;
  
}

.creategame-ef {
  grid-column: span 2;
  margin: 0;
  padding-left: 10px;
  background-color: rgb(255, 0, 0, 0.5);
}

.creategame-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 2;
}

.creategame-btn button {
  height: 45px;
  width: 30%;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
  margin-bottom: 50px;
}

.creategame-btn button:hover {
  box-shadow: 3px 0 3px black, -3px 0 3px black;
}

.creategame-btn-error{
   font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 0, 0, 0.5);
  border-radius: 5px;
}
.creategame-btn-good{
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 255, 0, 0.5);
  border-radius: 5px;
}
.creategame-genres {
  grid-column: span 2;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 10px;
}
.creategame-genres p{
  font-size: 14px;
}

.creategame-genres b{
  font-size: 25px;
}

.creategame-genrescontent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  
}

.creategame-genresbtnf {
  height: 5vh;
  border: transparent;
  cursor: pointer;
}

.creategame-genresbtnf:hover {
  border: 1px black solid;
}

.creategame-genresbtnt {
  height: 5vh;
  border: transparent;
  background-color: chartreuse;
  cursor: pointer;
  box-shadow: 1px 0 5px black inset;
}

.false{
  border-color: red ;
}


