.gameCard img {
  box-sizing: border-box;
  width: 12vw;
  height: 12vh;
  border: 2px solid black;
  border-radius: 5px;
}

.gameCard {
  margin: 20px;
  padding: 10px;
  border: 2px chartreuse solid;
  max-width: 12vw;
  max-height: 20vh;
  align-content: center;
  backdrop-filter: blur(3px);
  border-radius: 5px;
  box-shadow: 10px 10px 15px black, -10px -10px 15px black,
    10px -10px 15px black, -10px 10px 15px black;
}
.gameCard:hover {
  box-shadow: 10px 10px 15px white, -10px -10px 15px white,
    10px -10px 15px white, -10px 10px 15px white;
    cursor: pointer;
}

.gameCard p {
  margin: 0;
  font-weight: bold;
  color: chartreuse;
}

.gameCard span {
  margin: 0; 
}
