.favorite-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.favorite-gamecards {
  position: relative;
  top: 75px;
  display: flex;
  flex-wrap: wrap;
  /* border: 2px black solid; */
  height: 80vh;
  width: 84vw;
  margin-left: 8vw;
}
