.favorite-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.favorite-gamecards {
  position: relative;
  top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 80vh;
  width: 84vw;
  margin-left: 8vw;
}
