.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  border-bottom: 1px chartreuse solid;
}

.titlenav1 {
  margin: 0;
  color: chartreuse;
  text-decoration: none;
  padding-left: 10px;
}

.titlenav1:hover{
  text-shadow: 0 0 10px white;
}

.titlenav2 {
  text-decoration: none;
}

.titlenav2:hover{
  text-shadow: 0 0 10px white;
}

.titlenav2 h1 {
  color: chartreuse;
  margin-top: 10px;
  margin-bottom: 10px;
}

.buscadornav input {
  width: 12vw;
  height: 20px;
  margin-right: 25px;
  border: chartreuse 1.5px solid;
  border-radius: 5px;
  height: 24px;
  background: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}


.creandfav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
}

.titlenav3{
  margin: 0;
  color: chartreuse;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}
.titlenav3:hover{
 text-shadow: 0 0 10px white;
}